<?xml version="1.0"?>

<robot name="robot_name" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="color" default="Blue"/>
    <xacro:arg name="x" default="0.0"/>
    <xacro:arg name="y" default="0.0"/>
    <xacro:arg name="z" default="0.0"/>
    <xacro:property name="pi" value="3.1415926535897931" />
    <xacro:property name="color" value="$(arg color)"/>
    <xacro:property name="x" value="$(arg x)"/>
    <xacro:property name="y" value="$(arg y)"/>
    <xacro:property name="z" value="$(arg z)"/>
    <xacro:property name="d" value="0.4"/>
    <xacro:property name="l" value="0.4"/>
    <xacro:property name="h" value="0.4"/>


    <link name="my_box">
        <inertial>
            <origin xyz="${x} ${y} ${z}"/>
            <mass value="1.0" />
            <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="${x} ${y} ${z+h/2}"/>
            <geometry>
                <box size="${d} ${l} ${h}" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="${x} ${y} ${z+h/2}"/>
            <geometry>
                <box size="${d} ${l} ${h}" />
            </geometry>
        </collision>
    </link>
    <gazebo reference="my_box">
        <material>Gazebo/${color}</material>
    </gazebo>
</robot>
